body{
	background-color: #146356;
}
h1, h4{
	color:#146356;
}
#pie_formulario {
	color:black;
}
#container{
	font-family: Arial;
	background-color: #F3C892;
	width: 50%;
	border: 8px solid white;
	text-align:center;
	margin:auto;
	margin-top:40px;
	margin-bottom:40px;
}
.formulario{
	text-align:left;
	
}
#apellidos {
	padding-left:20px;
}

fieldset fieldset label{
	padding-right:25px;
}

#cortado, #con_leche, #americano{
	margin-left:25px;
}
button{
	margin-right:20px;
}
p{
	font-size:12px;
	margin-bottom:20px;
}