body {
	background-color: #146356;
}
#container{
	font-family: Arial;
	background-color: #146356;
	width: 90%;
	margin: 15px 50px 0px 50px;
}
#container header{
	width:100%;
	border-style:solid;
	border-color:white;
	text-align:center;
	background-color: #F3C892;
	
}
#container header h1{
	padding-top: 20px;
}
#container header h2{
	padding-bottom: 20px;
}
#container header img{
	max-width: 168px;
	max-height: 168px;
	float: left;
}
#container section{
	width:58%;
	float:left;
	background-color: #F3C892;
	text-align:justify;
	margin: 25px 0px 0px 0px;
}
#aside1{
	width:20%;
	float:left;
	color: white;
	text-align: center;
	margin: 25px 5px 0px 5px;
}
#aside1 p{
	padding:10px;
}
#aside2{
	width:20%;
	float:right;
	margin: 25px 5px 0px 5px;
}
#aside2 img{
	border:1px solid;
	border-color:white;
	width: 215px;
	height: 270px;
	float:right;
}
#aside2 video{
	border:1px solid;
	border-color:white;
	float:right;
	margin-bottom:50px;
	width:214px;
	height:120px;
}
#container footer{
	width:100%;
	float:right;
	color: white;
	text-align:center;
}
h1, h2{
	text-align: center;
	color:#146356;
}
h3 {
	text-align: left;
	color:#146356;
	margin-left:15px;
	
}
p {
	font-size: 18px;
}

#container nav ul {
	list-style-type: none;
}	
#container nav ul li{
	width: 45%;
	float: left;
	border: 1px solid;
	background-color: #A3Da8D;
	text-align: center;
	padding: 5px;
}
#container nav a:visited {
color: blue;
}
article p{
	text-align: justify;
	margin: 15px 15px 0px 15px;
}
#foto1{
	width: 105px;
	height: 120px;
	float: left;
	padding: 15px
}

#foto2{
	width: 300px;
	height: 200px;
	float: right;
	padding: 15px;
}

